<div class="navbar navbar-inverse navbar-twitch" role="navigation"  side-nav>
	<div class="container">
			<ul class="nav navbar-nav">
				<li ui-sref-active="active">
					<a href="#">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic dashboard active"></span> 
						</span>
						<span class="full-nav"> Dashboard </span>
					</a>
				</li>
				<li ui-sref-active="active">
					<a href="#about-us">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic icn2"></span> 
						</span>
						<span class="full-nav"> Appointments </span>
					</a>
				</li>
				<li ui-sref-active="active">
					<a href="#contact-us">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic icn3"></span> 
						</span>
						<span class="full-nav"> Patients </span>
					</a>
				</li>
                <li ui-sref-active="active">
					<a href="#">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic icn4"></span> 
						</span>
						<span class="full-nav"> Invoices </span>
					</a>
				</li>
                <li ui-sref-active="active">
					<a href="#">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic icn5"></span> 
						</span>
						<span class="full-nav"> Payments </span>
					</a>
				</li>
                <li ui-sref-active="active">
					<a href="#">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic icn6"></span> 
						</span>
						<span class="full-nav"> Products </span>
					</a>
				</li>
                <li ui-sref-active="active">
					<a href="#">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic icn7"></span> 
						</span>
						<span class="full-nav"> Expenses </span>
					</a>
				</li>
                <li ui-sref-active="active">
					<a href="#">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic icn8"></span> 
						</span>
						<span class="full-nav"> Contacts </span>
					</a>
				</li>
                <li  ui-sref-active="active">
					<a href="#">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic icn9"></span> 
						</span>
						<span class="full-nav"> Communications </span>
					</a>
				</li>
                <li ui-sref-active="active">
					<a href="#">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic icn10"></span> 
						</span>
						<span class="full-nav"> Reports </span>
					</a>
				</li>
                <li ui-sref-active="active">
					<a ui-sref="settings">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" > 
							<span class="ic icn11"></span> 
						</span>
						<span class="full-nav"> Settings </span>
					</a>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
</div>

