<div class="dashboard-con settings">
    <div class="top-container">
        <div class="col-md-8 col-xs-6 top-links">
            <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>    
        </div>
        <div class="col-md-4 col-xs-6 top-btn">
            <button class="save" type="submit">Update</button>
            <button class="cancel">Cancel</button>
            <button class="cancel">Delete</button>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 bus-con">
        <div class="col-md-2 side-bar-con">
            <div class="side-bar">
                <div class="side-bar-header">
                    <h5>Referral Sources</h5>
                    <i class="ic bus-icn percent"></i>
                </div>
                <div class="side-bar-search">
                    <form>
                        <input type="text" class="form-control" placeholder="Search" />
                        <button type="submit" disabled="disabled"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="side-bar-links" ng-scrollbar rebuild-on-resize>
                	<ul>
                    	<li><a href="">Contact</a></li>
                    	<li><a href="">Other</a></li>
                    	<li><a href="">Patient</a></li>
                    	<li><a href="">Test</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-10 col-sm-10 form-content info-container " ng-scrollbar rebuild-on-resize>
    	<div class="col-md-6">
        	<h2 class="min-wid">Referral Sources
            	<i class="ic info info-hover bottom">
                    <span>Contact and Patient are special referral sources. They will link with 
                    your contacts and patients lists.</span>
                </i>
            </h2>
              <div class="form-group ref">
                <label>Referral source</label>
                <input type="text" class="form-control" placeholder="Test">
              </div>
              <div class="form-group sub-cat">
              	<label>Sub-categories</label>
                <div class="ref-clone">
                    <input type="text"  class="form-control" placeholder="Referral Source"/>
                    <a href=""><i class="ic cross"></i></a>
                </div>
              </div>
              <div class="form-group sub-btn">
              	<a href="">Add Sub-Category</a>
              </div>
        </div>
    	<div class="col-md-6">
        </div>
    </div>
</div>